/* Write your CSS here */
.main {
  padding: 10% 20%;
  max-width: 100vw;
  overflow: auto;
  background-color: white;
}

.r13-main-Money-Details-cards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.Money-Details-card-contaier {
  display: flex;
  flex-direction: row;
  width: 30%;
  flex-wrap: wrap;
}
